/* -------------------------------------------------
# BODY
------------------------------------------------- */ 
body {
  background-color: #F0F0F0 !important;
  font-family: 'Nunito', sans-serif;
}

/* -------------------------------------------------
# COLORS AND BACKGROUND
------------------------------------------------- */ 
.text-bg-dark {
  background-color: #333333 !important;
  color: white !important;
}

.text-bg-primary {
  background-color: #333333 !important;
  color: white !important;
}

.text-bg-black {
  background-color: none !important;
  color: #333333 !important;
}

/* -------------------------------------------------
# NAVBAR
------------------------------------------------- */
.navbar {
  background-color: black !important;
}

.dropdown-menu {
  background-color: black !important;
}
.nav-item a {
  background-color: black !important;
  color: white !important;
}

.nav-item a:hover {
  text-decoration: underline;
  background-color: #423548 !important;;
} 

/* -------------------------------------------------
# ACCORDION'S
------------------------------------------------- */ 

/* -------------------------------------------------
# ACCORDION MAIN MENU
------------------------------------------------- */ 
.accordion-main-menu {
  --bs-accordion-bg:  !important;
  --bs-accordion-active-bg: #333 !important; 
}

/* --------------------------------------------------------------------------------------------------
# ACCORDION
-------------------------------------------------------------------------------------------------- */ 
.accordion {
    color:#fff;
    --bs-accordion-bg: none !important;
    --bs-accordion-active-color: #423548 !important;
    --bs-accordion-active-bg: #423548 !important;
    --bs-accordion-border-color: none !important;
    border-top-left-radius:0!important;
    border-top-right-radius:0!important;
    --bs-accordion-border-radius: 0 !important
}

/* -------------------------------------------------
# ACCORDION COLLAPSE
------------------------------------------------- */
/*
.accordion-collapse {
  background-color: black !important;
}
*/

/* -------------------------------------------------
# A SINGLE ITEM
------------------------------------------------- */ 
/*
a.single-item {
  background-color: #333 !important;
  color: white;
  text-decoration: none;
}
  */

/* -------------------------------------------------
# ACCORDION BODY
------------------------------------------------- */ 
.accordion-body a:hover {
  background-color: #423548 !important;
}

.accordion-body a:active {
  background-color: #423548 !important;
}

.accordion-body a {
  color: white;
  text-decoration: none;
}

.accordion-body a:hover {
  background-color: #423548 !important;
}

.accordion-body a:active {
  background-color: #423548 !important;
}

/* -------------------------------------------------
# ACCORDION BUTTON
------------------------------------------------- */ 
.accordion-button {
  color: white !important;
}

.accordion-button:hover {
  background-color: #423548 !important;
  color: black !important;
}

.accordion-button:active {
  background-color: #423548 !important;
  color: black !important;
}

/* -------------------------------------------------
# CARDS
------------------------------------------------- */ 
.text-bg-primary.card {
  border-radius: 5px !important;
  border-color: white !important;
}

.text-bg-primary .card-body {
  background-color: white !important;
  color: #423548 !important;
}