/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

body {
  font-family: 'Nunito', sans-serif;
}

.accordion-main-menu {
  --bs-accordion-bg: 333 !important;
  --bs-accordion-active-bg: #333 !important;
}


.accordion-cild-menu {
  
}

.accordion {
  --bs-accordion-bg: red !important;
}